body{
	font-family: 'Muli', sans-serif;
	margin: 60px;
	display: inline-block;

	
}

.main-form{
	margin: 20px;
	padding: 20px;
	color: white;
	background-color: black;
	margin-left: 0px;
	width: 435px;
	border-radius: 5px;
	float:left;
	
}

.card{
	float:right;
	position: relative;
	top:20px;
}
#background{
	background-color: #460784;
	width: 400px;
	height: 600px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
}

#picture{
	width: 400px;
	position: relative;
	top: 90px;
	border-top: solid 6px white;
	border-bottom: solid 6px white;
}

#greeting{
	text-align: center;
	padding-top: 70px;
	font-size: 30px;
	color:#ffffff;
	
}

#message{
	text-align: center;
	padding-top: 40px;
	color:#ffffff;
}

#messageWrite{
	width: 350px;
	height: 50px;
	overflow-wrap: break-word;
}
 

 /*button styles*/

.button{
	padding: 15px;
	font-size: 15px;
	margin: 2px;
	border-radius: 5px;
	color:#ffffff;
	background-color:#0091f9;
	border-color: #365bc9;
}

.pink{
	background-color:#ea106e;
	border-color: #ea106e;
}

.blue{
	background-color:#365bc9;
	border-color: #365bc9;
}

.green{
	background-color:#197016;
	border-color: #197016;
}

.purple{
	background-color:#460784;
	border-color: #460784;
}

.plain{
	font-family: 'Muli';
	height: 60px;
}

.cursive{
	font-family: 'Parisienne';
	font-size: 20px;
	height: 60px;

}
.handwriting{
	font-family: 'Homemade Apple';
	height: 60px;
	
}
.bold{
	font-family: 'Fugaz One';
	font-size: 20px;
	height: 60px;
}

.solid{
	border: solid 2px white;
}

.double{
	border: double 5px white;
	padding: 12px;
}

.dashed{
	border: dashed 2px white;
}